/** 
    @package enchanté
*/
.enchanté-admin-container {
    display: flex;
}
.enchanté-sidebar-preview {
    width: 50%;
    order: 2;
}
.enchanté-general-form {
    width: 50%;
    order: 1;
}
.enchanté-user-social-container > ul {
    display: flex;
}
.enchanté-user-social-container > ul > li {
    margin-left: 10px;
}
.enchanté-user-social-container > ul > li:first-child {
    margin: 0;
}
